<div class="container">
    <div class="row">
        <div class="col l8 s12">
            <h5 class="white-text">Ez Learning</h5>
            <p class="grey-text text-lighten-4">Somos un grupo de estudiantes que estamos desarrollando este
                proyecto como parte
                de nuestra formación profesional. Cualquier sugerencia será muy bien apreciada.
            </p>
        </div>
        <div class="col l4 s12">
            <h5 class="white-text">Github</h5>
            <p class="grey-text text-lighten-4">Puedes encontrar a continuación el <a
                    href="https://github.com/donnatto/ez-learning" target="_blank"
                    class="purple-text text-darken-4"><strong>repositorio del proyecto.</strong>
            </a></p>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2019 Ez Learning
    </div>
</div>