<div class="container">
    <div class="row">
        <div class="col l8 s12">
            <h5 class="white-text">Ez Learning</h5>
            <p class="grey-text text-lighten-4">Somos un grupo de estudiantes que estamos desarrollando este
                proyecto como parte
                de nuestra formación profesional. Cualquier sugerencia será muy bien apreciada.
            </p>
        </div>
        <div class="col l4 s12">
            <h5 class="white-text">Github</h5>
            <p class="grey-text text-lighten-4">Puedes encontrar a continuación el <a
                    href="https://github.com/donnatto/ez-learning" target="_blank">
                <span class="amber-text lighten-1">repositorio del proyecto.</span>
            </a></p>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container right-align">
        <span>With <i class="far fa-heart"></i> by Donnatto</span>
        <a href="https://linkedin.com/in/donnatto"><i class="fab fa-linkedin white-text"></i></a>
        <a href="https://github.com/donnatto"><i class="fab fa-github white-text"></i></a>
        <a href="https://blog.donnatto.me"><i class="fas fa-code white-text"></i></a>
        <a href="https://instagram.com/donnatto_"><i class="fab fa-instagram white-text"></i></a>
    </div>
</div>