body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Scroll Bar */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #26a69a;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #2a8c7c;
}
body::-webkit-scrollbar-thumb:active {
  background-color: #006363;
}
body::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

p {
  line-height: 2rem;
}

#detail-card-title {
  font-weight: 500;
}
#curso-card-title {
  font-weight: 400;
}

/* Helpers */
.mb-3 {
  margin-bottom: 1rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mb-5 {
  margin-bottom: 3rem;
}
.mt-5 {
  margin-top: 3rem;
} /*---*/

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,.9);
}
#discover-banner {
  min-height: 300px;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
#curso-detail-banner {
  margin-top: 0.5rem;
  min-height: 250px;
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Collapsible */
li.active .collapsible-header {
  font-weight: 500;
  color: #26a69a;
}

/* Cards container */
.cards-container {
  -webkit-column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

/* Footer */
.footer-copyright a i:hover {
  color: #ffca28!important;
}