<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="/fragments/head">
</head>
<body>
<header th:insert="/fragments/header"></header>

<main>
    <div class="container main-content">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger"><h3 th:text="${error}">Status</h3></li>
            <li class="list-group-item" th:text="'Status code: '+ ${status}"></li>
        </ul>
        <p><a href="/" th:href="@{/}">Back to home page</a></p>
    </div>
</main>

<footer class="page-footer teal" th:insert="/fragments/footer"></footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</body>
</html>