<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Ez Learning | Aprendizaje para todos</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<header>
    <nav class="teal lighten-2" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo white-text">Ez Learning</a>
            <ul class="right hide-on-med-and-down">
                <li><a th:href="@{/cursos}" class="white-text">Cursos</a></li>
                <li><a th:href="@{/profesores}" class="white-text">Profesores</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}" class="white-text">Ingresar</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="white-text">Salir</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav teal darken-2">
                <li><a th:href="@{/cursos}" class="white-text">Cursos</a></li>
                <li><a th:href="@{/profesores}" class="white-text">Profesores</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}" class="white-text">Ingresar</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="white-text">Salir</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger white-text"><i
                    class="material-icons">menu</i></a>
        </div>
    </nav>
</header>

<main>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text">Enseñanza continua</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Una plataforma de aprendizaje ideada para todos</h5>
                </div>
                <br>
                <div class="row center">
                    <a th:href="@{/discover}" class="waves-effect waves-light btn-large">Descúbrela</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="/img/background2.jpg" alt="Unsplash background img 2"></div>
    </div>
    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center teal-text text-lighten-2"><i class="material-icons">devices</i></h2>
                        <h5 class="center">Aprende desde cualquier lugar</h5>

                        <p class="light">Nuesta plataforma está diseñada para que puedas acceder a ella desde cualquier
                            dispositivo,
                            brindándote las herramientas necesarias para tu aprendizaje desde donde sea que te
                            encuentres.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center teal-text text-lighten-2"><i class="material-icons">group</i></h2>
                        <h5 class="center">Una comunidad con la que puedes contar</h5>

                        <p class="light">Se parte de una gran comunidad de personas que, al igual que tú, buscan mejorar
                            sus
                            competencias y adquirir conocimientos constantemente para este mundo en constante
                            evolución.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center teal-text text-lighten-2"><i class="material-icons">local_atm</i></h2>
                        <h5 class="center">Precios al alcance de todos</h5>

                        <p class="light">Ya que nos enfocamos en que el conocimiento debe ser impartido en igualdad de
                            condiciones,
                            nos comprometemos brindandote educación de calidad a precios muy accesibles.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Una moderna escuela de formación profesional en tecnología.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/img/background1.jpg" alt="Unsplash background img 1"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h4>Contáctanos</h4>
                    <p class="left-align light">Somos una plataforma que se interesa por el aprendizaje de todas las
                        personas, pues
                        creemos en la importancia de brindar contenido de calidad para todo el público interesado, con
                        el propósito de
                        formar grandes profesionales y personas que sean líderes en este campo. <br><br>
                        Cualquier duda o consulta que tengas nos la puedes comunicar al correo <a
                                href="mailto:info@ezlearning.com" class="teal-text">info@ezlearning.com</a>,
                        la cual estaremos resolviendo a la brevedad.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Únete a nosotros y se parte de esta gran revolución
                        tecnológica.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/img/background3.jpg" alt="Unsplashed background img 3"></div>
    </div>
</main>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l8 s12">
                <h5 class="white-text">Ez Learning</h5>
                <p class="grey-text text-lighten-4">Somos un grupo de estudiantes que estamos desarrollando este
                    proyecto como parte
                    de nuestra formación profesional. Cualquier sugerencia será muy bien apreciada.
                </p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Github</h5>
                <p class="grey-text text-lighten-4">Puedes encontrar a continuación el <a
                        href="https://github.com/donnatto/ez-learning" target="_blank"
                        class="purple-text text-darken-4"><strong>repositorio del proyecto.</strong>
                </a></p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Ez Learning
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</body>
</html>
