<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/head">
<!-- Head fragment -->
</head>
<body>
<header th:insert="fragments/header">
<!-- Header Fragment -->
</header>

<main>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text">Enseñanza continua</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Una plataforma de aprendizaje ideada para todos</h5>
                </div>
                <br>
                <div class="row center">
                    <a th:href="@{/discover}" class="waves-effect waves-light btn-large">Descúbrela</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="/img/background2.jpg" alt="Unsplash background img 2"></div>
    </div>
    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center teal-text text-lighten-2"><i class="material-icons">devices</i></h2>
                        <h5 class="center">Aprende desde cualquier lugar</h5>

                        <p class="light">Nuesta plataforma está diseñada para que puedas acceder a ella desde cualquier
                            dispositivo,
                            brindándote las herramientas necesarias para tu aprendizaje desde donde sea que te
                            encuentres.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center teal-text text-lighten-2"><i class="material-icons">group</i></h2>
                        <h5 class="center">Una comunidad con la que puedes contar</h5>

                        <p class="light">Se parte de una gran comunidad de personas que, al igual que tú, buscan mejorar
                            sus
                            competencias y adquirir conocimientos constantemente para este mundo en constante
                            evolución.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center teal-text text-lighten-2"><i class="material-icons">local_atm</i></h2>
                        <h5 class="center">Precios al alcance de todos</h5>

                        <p class="light">Ya que nos enfocamos en que el conocimiento debe ser impartido en igualdad de
                            condiciones,
                            nos comprometemos brindandote educación de calidad a precios muy accesibles.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Una moderna escuela de formación profesional en tecnología.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/img/background1.jpg" alt="Unsplash background img 1"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h4>Contáctanos</h4>
                    <p class="left-align light">Somos una plataforma que se interesa por el aprendizaje de todas las
                        personas, pues
                        creemos en la importancia de brindar contenido de calidad para todo el público interesado, con
                        el propósito de
                        formar grandes profesionales y personas que sean líderes en este campo. <br><br>
                        Cualquier duda o consulta que tengas nos la puedes comunicar al correo <a
                                href="mailto:contact@donnatto.tech" class="teal-text">contact@donnatto.tech</a>,
                        la cual estaremos resolviendo a la brevedad.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Únete a nosotros y se parte de esta gran revolución
                        tecnológica.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/img/background3.jpg" alt="Unsplashed background img 3"></div>
    </div>
</main>

<footer class="page-footer teal" th:insert="fragments/footer">
<!-- Footer fragment -->
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</body>
</html>
